/**** ADD YOUR STYLES ****/

body {
    background-color: black;
    color: white;
}

.overall-song-distribution {
    /* background-color: rgba(255, 255, 255, 0.3); */
    border: white 2px solid;
}

.album-section {
    display: flex;
    position: relative;
    justify-content: center;
}

.album-name-container {
    position: sticky;
    top: 15%;
    height: fit-content;
    align-self: flex-start;
    color: white;
    text-align: end;
    padding-right: 5%;
    width: 30%;
    margin-bottom: 10%;
}

.album-cover-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    padding-bottom: 10%;
    justify-content: flex-end;
    overflow: hidden;
}

.album-cover-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.album-name {
    font-size: 3vw;
    font-weight: bold;
    line-height: 1em;
    opacity: 80%;
    width: 100%;
    padding-bottom: 2%;
}

.song-section {
    margin-left: 5%;
}

.song-info {
    width: 50%;
}

.section_name {
    position: sticky;
    top: 10%;
    height: fit-content;
    align-self: flex-start;

    color: white;
    background-color: black;
    /* opacity: 80%; */
    padding-bottom: 2%;
    padding-top: 2%;
    text-transform: uppercase;
}

.lyric-section {
    padding-bottom: 4%;
}

.home_link {
    color: white;
}

.main-body {
    padding-top: var(--navbar-height, 80px);
    margin-bottom: 10%;
}

.process_book {
    margin: 3% 20%;
}

#all-songs-container {
    padding: 0%;
    margin-left: 3%;
    margin-right: 5%;
}

.tooltips {
    height: auto;
    text-align: left;
}


.lyric-line.dimmed {
    opacity: 0.45;
    transition: opacity 0.4s ease;
}

.lyric-line.highlighted {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.05);
    border-left: 2px solid;
    padding-left: 5px;
}

.chart-fragment.dimmed {
    opacity: 0.45;
    transition: opacity 0.4s ease;
}

.sticky-wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 20%;
    height: fit-content;
    align-self: flex-start;
}

#nav-placeholder {
    /* width: 100%;
    height: auto; */
}

.page-title {
    margin: 0%;
}