/**** ADD YOUR STYLES ****/

body {
    /* background-color: black;
    color: white; */

    background-color: white;
    color: black;
}

.overall-song-distribution {
    /* background-color: rgba(255, 255, 255, 0.3); */
    border: black 2px solid;
}

.album-section {
    display: flex;
    position: relative;
    justify-content: center;
}

.album-name-container {
    position: sticky;
    top: 15%;
    height: fit-content;
    align-self: flex-start;
    color: black;
    text-align: end;
    padding-right: 5%;
    width: 30%;
    margin-bottom: 10%;
}

.album-cover-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    padding-bottom: 10%;
    justify-content: flex-end;
    overflow: hidden;
}

.album-cover-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.album-name {
    font-size: 3vw;
    font-weight: bold;
    line-height: 1em;
    opacity: 80%;
    width: 100%;
    padding-bottom: 2%;
}

.song-section {
    margin-left: 5%;
}

.song-info {
    width: 50%;
}



.home_link {
    color: white;
}

.main-body {
    padding-top: 56px;
    margin-bottom: 10%;
}

.process_book {
    margin: 3% 20%;
}

#all-songs-container {
    padding: 0%;
    margin-left: 3%;
    margin-right: 5%;
}



.page-title {
    margin: 0%;
}