/**** ADD YOUR STYLES ****/

body {
    background-color: black;
    color: white;
}

.overall-song-distribution {
    /* background-color: rgba(255, 255, 255, 0.3); */
    border: white 2px solid;
}

.album-section {
    display: flex;
    /* gap: 40px; */
    position: relative;
    justify-content: center;
}

.album-name {
    color: white;
    opacity: 80%;
    font-size: 3vw;
    font-weight: bold;
    text-align: end;
    line-height: 1em;
    padding-right: 3%;
    width: 27%;

}

.home_link {
    color: white;
}

.process_book {
    margin: 3% 20%;
}

#all-songs-container {
    padding: 0%;
    margin-left: 3%;
    margin-right: 3%;
}

.tooltips {
    height: auto;
    text-align: left;
}


.lyric-line.dimmed {
    opacity: 0.45;
    transition: opacity 0.4s ease;
}

.lyric-line.highlighted {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.05);
    border-left: 2px solid;
    padding-left: 5px;
}

.chart-fragment.dimmed {
    opacity: 0.45;
    transition: opacity 0.4s ease;
}

.sticky-wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 20%;
    height: fit-content;
    align-self: flex-start;
}